.Game {
  border: 5px solid #ffc9ef;
  border-radius: 20px;
  display: flex;
  position: relative;
}

@media all and (max-width: 1200px) {
  .Game {
    display: block;
    max-width: 714px;
    margin: auto;
    border-radius: 0;
  }
}
