.Panel {
  padding: 30px;
}

.Panel--Item {
  display: inline-block;
  width: 25%;
  padding-top: 2%;
}

.Circle {
  cursor: pointer;
  display: table;
  background: #f00;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 0 auto;
}