.Panel {
  padding: 30px;
}

.Panel--Item {
  display: inline-block;
  width: 25%;
  padding-top: 2%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.Wearable {
  cursor: pointer;
}