.Condom--portrait {
  width: 44%;
  margin: 21% 28%;
  position: absolute;
  top: -9%;
  left: -.3%;
  z-index: 6;
}

.Condom--icon {
  width: 64%;
  max-height: 85px;
}

.Condom--control {
  max-height: 75%;
  max-width: 85%;
  vertical-align: middle;
}

@media all and (max-width: 1200px) {
  .Condom--icon {
    width: 50%;
  }
}