.Condom--portrait {
  width: 44%;
  margin: 150px 200px;
  position: absolute;
  top: -9%;
  left: -.3%;
  z-index: 6;
}

.Condom--icon {
  width: 64%;
}

@media all and (max-width: 1200px) {
  .Condom--icon {
    width: 50%;
  }
}