.MrPeen--portrait {
  width: 44%;
  margin: 150px 198px;
}

.MrPeen--mini {
  position: absolute;
  z-index: 7;
  width: 18%;
  left: 56%;
  top: 56%;
}

.MrPeen--icon {
  width: 64%;
}

@media all and (max-width: 1200px) {
  .MrPeen--icon {
    width: 50%;
  }
}