.ChristmasTree--icon {
  max-height: 80px;
}

.ChristmasTree--portrait {
  width: 25.5%;
  height: 42%;
  position: absolute;
  left: 20.5%;
  top: 6.3%;
  cursor: move;
  background-image: url("./christmas-tree.png");
  background-repeat: no-repeat;
  background-size: cover;
}