.Controls {
  display: flex;
}

.Control {
  border-left: 5px solid #ffc9ef;
  border-bottom: 5px solid #ffc9ef;
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.Control:first-of-type {
  border-left: none;
}

.Control:last-of-type {
  flex-grow: 100;
}

.Control--active {
  border-bottom: none;
}