.Controls {
  display: flex;
  color: #ff81d2;
}

.Control {
  text-align: center;
  border-left: 5px solid #ffc9ef;
  border-bottom: 5px solid #ffc9ef;
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0 3px;
  z-index: 10;
}

.Control:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Control img {
  vertical-align: middle;
}

.Control:first-of-type {
  border-left: none;
}

.Control:last-of-type {
  flex-grow: 100;
}

.Control--active {
  border-bottom: 5px solid white;
}