.Bubble {
  width: 160px;
  padding: 46px 30px;
  text-align: center;
  border-radius: 50%;
  top: 14%;
  left: 65%;
  position: absolute;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}

.Bubble:before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -9px;
  right: 147px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background:#fff;
  border-radius: 50px;
  display:block;
}

.Bubble:after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -18px;
  right: 170px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  background: #fff;
  border-radius: 50px;
  display: block;
}

.Bubble input {
  font-family: "Luckiest Guy";
  width: 100%;
  border: none;
  outline: none;
  height: 28px;
  font-size: 23px;
  text-align: center;
}