.Portrait {
  display: inline-block;
  width: 60%;
  position: relative;
}

.MrPeen {
  width: 44%;
  margin: 198px;
}

.Condom {
  width: 44%;
  margin: 200px;
  position: absolute;
  top: -8%;
  left: -.3%;
  z-index: 5;
}

.Handcuffs {
  z-index: 2;
  width: 83%;
  margin: 200px;
  position: absolute;
  top: -20%;
  left: -.5%;
}

.Ballgag {
  width: 83%;
  margin: 200px;
  position: absolute;
  top: -19%;
  left: -.5%;
}

.EyeMask {
  width: 79%;
  margin: 200px;
  position: absolute;
  top: -19%;
  left: .5%;
}

.Collar {
  width: 82%;
  margin: 200px;
  position: absolute;
  top: -19%;
  left: -.3%;
}

.HeartCollar {
  width: 82%;
  margin: 200px;
  position: absolute;
  top: -19%;
  left: -.3%;  
}
