.Selectables {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: left;
  border-left: 5px solid #ffc9ef;
  z-index: 10;
}

@media all and (max-width: 1200px) {
  .Selectables {
    width: 100%;
    border-left: none;
    position: relative;
  }
}