.Header {
  background-color: #ffc9ef;
  height: 40px;
  padding: 20px 0 30px;
  color: white;
}

.Title {
  color: #ff81d2;
  font-size: 40px;
}

@media all and (max-width: 1200px) {
  .Header {
    height: 20px;
    padding-top: 10px;
  }

  .Title {
    font-size: 30px;
  }
}