.PanelWrapper {
  padding: 30px;
}

@media all and (max-width: 1200px) {
  .PanelWrapper {
    height: 115px;
    padding: 5px;
    overflow: hidden;
    border-top: 5px solid #ffc9ef;
  }
}

@media all and (max-width: 750px) {
  .PanelWrapper {
    height: 100px;
  }
}