.Website--Nav {
  font-size: 20px;
}

.Website--NavItem {
  cursor: pointer;
}

.Website--NavItem a {
  color: white;
  text-decoration: none;
}

.Website--NavItem a.active {
  color: #ff81d2;
}

.Website--NavItem a:hover {
  color: #ff81d2;
  transition-delay:0.1s;
}